

.mulwrapper {
    display: flex;
    text-align: left;
    .innrmulleft {
    flex: 0 0 15%;
    }
    .innrmulright {
    flex: 1;
    max-height: 100px;
    overflow: hidden;
    }
    }

    table {
        background-color: transparent;
        width: -webkit-fill-available;
        width: 100%;
        margin-left: 2px;
        border: 1px solid #c4c4c466;
    }
    .trTitle{
        border-bottom: #c4c4c466;
        color: white;
        text-align: center;
    }

    :host::ng-deep .cstmLeft{

      .hljs {
         max-height: 222px !important;
         min-height: 222px !important;
         overflow: hidden;
         overflow-y: scroll;
     }
     }
     :host::ng-deep.plyr{
       
      video{
      max-height: 247px !important;
     }
    }
    :host::ng-deep pre{
            border: none !important;
            border-top-left-radius: 0px !important; 
            border-top-right-radius: 0px !important; 
    }
    .testCss {
        animation: right_to_left 1s ease;
      }
      .copiedcss{
          margin-right: 10px;
          background-color: #3d9fe578;
          font-size: 13px;
          padding: 2px 5px 2px 5px;
          border-radius: 2px;
          color: white;
          display: inline-table ;
      }
      
      @keyframes right_to_left {
        from {
          margin-right: -30px;
        }
        to {
          margin-right: 0px !important;
        }
      }
      
.seclVidParent{
    max-height: 260px;
    overflow-y: scroll;
    min-height: 260px;
}
      .seclVid{
        padding: 15px 0px 15px 0px;
      }
      .cstmPadding{
          margin-top: 10px;
      }
      @media only screen and (max-width: 600px) {
        .chckItem {
            padding-left: 35vw;
            margin-top: 20px;
            
        }
        .smBtn{
            margin-left: 35vw;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .bigUsrPrfl{
            margin-bottom: 20px;
        }
        .barwrapper .innrbarleft {
            flex: 0 0 20%;
        }
        .usrImg{
            width: 80px;
            height: 80px;
        }
        .cstmMargin{
          margin-top: 20px;
          margin-bottom: 20px;
        }
    }