<label class="uploader" ondragover="return false;" [class.loaded]="loaded"
    [style.outlineColor]="dragging ? activeColor : baseColor" (dragenter)="handleDragEnter()"
    (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">

    <i class="icon icon-upload" [style.color]="dragging 
            ? ((imageSrc.length > 0) ? overlayColor : activeColor)
            : ((imageSrc.length > 0) ? overlayColor : baseColor)"></i>

    <img [src]="(imageSrc.length > 0) ? imageSrc : 'assets/images/cloudUplaod.png'" (load)="handleImageLoad()"
        [class.loaded]="imageLoaded" />


</label>

<div style="padding-top: 10px;">
    <label class="custom-file-upload" style="padding-right: 50px;">
        <input type="file" accept="image/*" #fileInput id="selectImage" style="display: none;" (change)="handleInputChange($event)"
            ngDefaultControl name="myfile" />
        <span type="button" class="btn button-Success btnUpload">Browse File</span>
    </label>

    <button (click)="cancel(fileInput)" class="btn button-Fail">Clear</button>
</div>