<label class="uploader" ondragover="return false;"
    [class.loaded]="loaded" 
    [style.outlineColor]="dragging ? activeColor : baseColor"
    (dragenter)="handleDragEnter()"
    (dragleave)="handleDragLeave()"
    (drop)="handleDrop($event)">
    
    <i class="icon icon-upload" 
        [style.color]="dragging 
            ? ((multiimageSrc.length > 0) ? overlayColor : activeColor)
            : ((multiimageSrc.length > 0) ? overlayColor : baseColor)"></i>
    
  
        <img 
        [src]="(multiimageSrc.length > 0) ? multiimageSrc : 'assets/video/thumb/classroom.jpg'"
        (load)="handleImageLoad()" 
        [class.loaded]="imageLoaded"/>
    
  
</label>



<div style="padding-top: 10px;">
    <label class="custom-file-upload" style="padding-right: 50px;">
        <input type="file" accept="image/*" id="selectImage" style="display: none;" (change)="handleInputChange($event)" ngDefaultControl name="myfile" />
        <span type="button" class="btn button-Success btnUpload">Upload</span>
      </label>
    
    <button (click)="cancel()" class="btn button-Fail">Clear</button>
</div>