<div class="offline" [ngStyle]="{'display':errorDisplay}">
  {{errorMessagefrmServ}}
</div>

<div class="card">
  <h4 class="cardTitle">Image - Face & Mood Detection</h4>
  <div class="row cstmRow">
    <div class="col-md-3">
      <app-fileUploader [activeColor]="'orange'" [baseColor]="'lightgray'" (evntEmt)="outputEvent($event)">
      </app-fileUploader>
    </div>
    <div class="col-md-1 cstmLeft">
      <div class="chckItem" style="overflow: hidden;">
        <div *ngFor="let name of checkedItem" class="chckItemInnrDiv">
          <input type="checkbox" [name]="name.id" [(ngModel)]="name.checked">
          <label for="vehicle1" style="display: contents;"> {{name.id}}</label>
        </div>
      </div>
      <button class="btn button-Success smBtn" (click)="analyse()">Analyze</button>
    </div>
    <div class="col-md-5">
      <div class="bigUsrPrfl" style="min-height: 260px;">
        <ng-container *ngIf="length != 0">
          <ngx-slick-carousel class="carousel" #slickModald="slick-carousel"
            [config]="length == 1 ? slideConfig : singleSlideConfig ">
            <div ngxSlickItem *ngFor="let slide of userDetails" class="slide">
              <div>
                <div class="mulwrapper">
                  <div class="innrmulright">
                    <table> 
                      <thead>
                        <tr [class]="slide.unknw ? 'trTitle unknwTitle'  : 'trTitle knwTitle' "
                          style="text-transform: capitalize;">
                          <td>{{slide.nme}}</td>
                        </tr>
                      </thead>
                    </table>
                    <div>
                      <table>
                        <tbody>
                          <tr *ngFor="let userData of slide.userDtls;let i=index"
                            style="border-bottom: 1px solid #d7d5d559;">
                            <td style="text-align: center;text-transform: capitalize;">{{userData.nme}} <span
                                style="float: right;">:</span></td>
                            <td style="text-align: center;text-transform: capitalize;">{{userData.value}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div></div>
            </div>
          </ngx-slick-carousel>
        </ng-container>
        <ng-container *ngIf="length == 0">
          <h3 style="margin-top: 100px;">No Data Available</h3>
        </ng-container>
        <ng-http-loader [backdrop]="true" [backgroundColor]="'rgb(255, 115, 0)'" [opacity]=".6"
          [spinner]="spinkit.skWave">
        </ng-http-loader>
      </div>
    </div>
    <div class="col-md-3 cstmLeft">
      <div class="terminal">
        <i class="fa fa-ellipsis-h threeDot"></i>
        <span class="cpyClip">
          <span [class]="clipboardColor == 'gainsboro' ? 'copiedcss' : ' copiedcss testCss'"
            [ngStyle]="{'display':clipboardColor == 'gainsboro' ? 'none' : 'inline'}">Copied </span>
          <i class="fa fa-clipboard" aria-hidden="true" title="copy to clipboard" (click)="copyIndv()"
            [ngStyle]="{'color':clipboardColor}"></i>
          <i class="fa fa-expand" aria-hidden="true" (click)="enbModal.open();"></i></span>
      </div>
      <textarea highlight-js [lang]="'JSON'" [ngModel]="prettyCode" id="myInput">
      </textarea>
    </div>
  </div>
</div>

<app-videoAnalyzer></app-videoAnalyzer>

<modal #enbModal modalClass="modal-lg">
  <modal-content>
    <div class="terminalModal">
      <i class="fa fa-ellipsis-h threeDot"></i>
      <span class="cpyClip">
        <span [class]="clipboardModalColor == 'gainsboro' ? 'copiedcss' : ' copiedcss testCss'"
          [ngStyle]="{'display':clipboardModalColor == 'gainsboro' ? 'none' : 'inline-table'}">Copied </span>
        <i class="fa fa-clipboard" aria-hidden="true" title="copy to clipboard" (click)="copyModalIndv()"
          [ngStyle]="{'color':clipboardModalColor}"></i>
      </span>
    </div>
    <textarea highlight-js [lang]="'JSON'" [ngModel]="modalPrettyCode" id="myInput">
</textarea>
  </modal-content>
</modal>