:host::ng-deep .progress-outer {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    background-color: #d8d7d78c !important;
    border: none !important;
    color: #fff;
    border-radius: 0px !important;
}
.offline {
    font-size: 14px;
    background: #fe605a;
    padding: 5px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Ubuntu, Helvetica, Arial, sans-serif;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
  }

:host::ng-deep .progress-inner {
    min-width: 0% !important;
    min-height: 12px !important;
    max-height: 12px !important;
    border-radius: 0px !important;
    margin-top: 4px !important;
    font-size: 10px !important;
    transition: width 0.6s ease !important;
}

:host::ng-deep .cstmLeft {

    .hljs {
        max-height: 235px !important;
        min-height: 235px !important;
        overflow: hidden;
        overflow-y: scroll;
    }
}



:host::ng-deep .slick-slide {
    box-shadow: none !important;
    border: 2px solid #e4e0e0cf;
}


:host::ng-deep pre {
    border: none !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

:host::ng-deep.modal-header {
    border-bottom: none !important;
}

:host::ng-deep .modal-footer {
    border-top: none !important;
}


.caruwrapper {
    display: flex;
    padding: 0px 10px 0px 10px;
    text-align: left;

    .innrcaruleft {
        flex: 0 0 30%;
    }

    .innrcaruright {
        flex: 1;
    }
}

.mulwrapper {
    display: flex;
    text-align: left;

    .innrmulleft {
        flex: 0 0 15%;
    }

    .innrmulright {
        flex: 1;
        overflow: hidden;
    }
}

table {
    background-color: transparent;
    width: -webkit-fill-available;
    width: 100%;
    margin-left: 2px;
    border: 1px solid #c4c4c466;
}

.trTitle {
    border-bottom: #c4c4c466;
    color: white;
    text-align: center;
}

.testCss {
    animation: right_to_left 1s ease;
}

.copiedcss {
    margin-right: 10px;
    background-color: #3d9fe578;
    font-size: 13px;
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    color: white;
    display: inline;
}

.usrImg {
    width: 110px;
    height: 110px;
}

.caruImg {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}
td{
    padding: 10px !important;
}

@keyframes right_to_left {
    from {
        margin-right: -30px;
    }

    to {
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 600px) {
    .chckItem {
        padding-left: 35vw;
        margin-top: 20px;

    }

    .smBtn {
        margin-left: 35vw;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .bigUsrPrfl {
        margin-bottom: 20px;
    }

    .barwrapper .innrbarleft {
        flex: 0 0 20%;
    }

    .usrImg {
        width: 80px;
        height: 80px;
    }
}