.carausal_card {
  background-color: #FFFFFF !important;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: .7%;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.slick-slide {
  box-shadow: none !important;
  border: none !important;
}

#title {
  width: 100%;
  max-width: none;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

.carouselCstm {
  padding-top: 10px;
}

.slide {
  margin-right: 3px;
  margin-left: 3px;
  outline: none !important;
}

.caru-Img {
  max-height: 108px;
  min-height: 108px;
  cursor: pointer;
}

.car-head {
  padding-top: 6px;
  padding-bottom: 10px
}

.caru-title {
  text-transform: capitalize;
  padding-bottom: 8%;
  font-weight: 600;
  color: #4d4d4d;
  cursor: pointer;
}


.cardinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btngroupSubmit {
  width: 60% !important;
}

.noDataInnr {
  padding: 50px;
  text-align: center;
}

.carouselCstm {
  padding-top: 10px;
}

.ovrlTxt {
  text-align: center;
}

.happyCol {
  color: green;
}

.sidebarIcon {
  font-size: 4.1rem;
}

.neutralCol {
  color: #4c6ef5;
}

.sadCol {
  color: rgb(210, 192, 33);
}

.fearfulCol {
  color: orange;
}

.surprisedCol {
  color: #33cff9;
}

.angryCol {
  color: red;
}

.yawnCol {
  color: #7C7772;
}

.parentTable {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.onlyTabl {
  text-align: center;
}

.tableIcon {
  font-size: 35px;
}

.innrTable {
  max-width: 100px;
}

.txtCapt {
  text-transform: capitalize;
}

.innrTableCardParent {
  overflow: hidden;
  overflow-y: auto;
  max-height: 100px;
}

.tableCard {
  border-bottom: 1px solid #d7d5d559;
  text-align: center;
}





/* Pattern styles */
.containerWrap {
  display: flex;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.containerWrapChild {
  display: flex;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 10px;
}

.left-half {
  flex: 1;
  padding: 1rem;
  background-color: #FFFFFF !important;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  max-height: 700px;
  overflow: scroll;
}

.right-half {
  flex: 2;
  padding: 1rem;
  margin-left: 10px;
  background-color: #FFFFFF !important;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  max-height: 700px;
  overflow: scroll;
}

.left-halfChild {
  flex: 1;
  padding: 1rem;
  background-color: #c3c3c3 !important;
  overflow: hidden;
  color: white;
}

.right-halfChild {
  flex: 1;
  padding: 1rem;
  background-color: #c3c3c3 !important;
  overflow: hidden;
  color: white;
}

.barwrapper {
  display: flex;
  padding-bottom: 10px;
  text-align: left;

  .innrbarleft {
    flex: 0 0 15%;
    text-align: center;
  }

  .innrbarright {
    flex: 1;
  }
}

.barParentWrap {
  max-height: 105px;
  overflow: hidden;
  overflow-y: auto;
}
.copiedcss {
  margin-right: 10px;
  background-color: #3d9fe578;
  font-size: 13px;
  padding: 2px 5px 2px 5px;
  border-radius: 2px;
  color: white;
  display: inline-table;
}
.testCss {
  animation: right_to_left 1s ease;
}

:host::ng-deep .progress-outer {
  width: 100% !important;
  margin: 0px !important;
  padding: 3px !important;
  background-color: #d8d7d78c !important;
  border: none !important;
  color: #fff;
  border-radius: 0px !important;
}

:host::ng-deep .progress-inner {
  min-width: 0% !important;
  min-height: 30px !important;
  max-height: 30px !important;
  padding: 5px !important;
  border-radius: 0px !important;
  font-size: 15px !important;
  transition: width 0.6s ease !important;
  margin-top: 0px !important
}

.mulwrapper {
  display: flex;
  text-align: left;
  padding: 10px 5px 10px 5px;
  border: 1px solid #e9e9e9;

  .innrmulleft {
    flex: 0 0 15%;
  }

  .innrmulright {
    flex: 1;
    max-height: 100px;
    overflow: hidden;
  }
}


.tableCustmClass {
  background-color: transparent;
  width: -webkit-fill-available;
  width: 100%;
  margin-left: 2px;
}

.trTitle {
  border-bottom: #c4c4c466;
  color: white;
  text-align: center;
  background-color: green;
}

.trUnknwTitle {
  border-bottom: #c4c4c466;
  color: white;
  text-align: center;
  background-color: red;
}

.caruImg {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
}

.noEmoj {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 5px;
  font-weight: 700;
  font-size: 23px;
}

.cstmTh {
  width: 250px;
}

.cstmTh+.cstmTh {
  width: auto;
}



.cstmTab {
  display: flex;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 10px;
}

.left-halftab {
  flex: 1;
  padding: 1rem;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6b5;
  text-align: center;
  cursor: pointer;
}

.right-halftab {
  flex: 1;
  padding: 1rem;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6b5;
  text-align: center;
  cursor: pointer;
}

.active {
  border-bottom: 1px solid orange;
}

.parentDivClg {
  width: 13%;
  float: left;
  text-align: center;
  margin-left: .5%;
  cursor: pointer;
}


.masterDiv {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 5px;
}

.dropDownBootstrapp {
  text-align-last: center;
  color: #636060;
  padding: 4px 0px;
  width: 100%;
  text-align: center;
  line-height: 1.42857143;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #d7d4ce;
  background-color: #fff;
  min-height: 30px;
  cursor: pointer;
}

.searchSection {
  padding-left: 13px !important;
}

.exposetab {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 5px;
}

.parentDiv {
  width: 24%;
  float: left;
  text-align: center;
  margin-left: .5%;
  cursor: pointer;
}











@media only screen and (min-width: 1450px) {
  .dropDownBootstrapp {
    padding: 5px 0px;
  }
}

@media only screen and (max-width: 900px) {
  .containerWrap {
    display: block;
  }

  .right-half {
    margin-left: 0px;
    margin-top: 20px;
  }

  .parentDivClg {
    width: 22%;
  }

  .btnBlock {
    display: contents;
  }

  .btnresetBlock {
    padding-top: 5px;
  }

  .button-Fail {
    width: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .containerWrap {
    display: block;
  }

  .right-half {
    margin-left: 0px;
    margin-top: 20px;
  }

  .onlyTabl {
    display: none;
  }

  .cstmTh {
    width: 100%;
  }

  .parentDivClg {
    width: 100%;
  }

  .masterDiv {

    margin-top: 15px;
  }

  .resetBlk {
    width: 0px !important;
  }

  .btnBlock {
    display: block;
  }

  .btnresetBlock {
    padding-top: 0px;
  }

}

:host::ng-deep .right-half {
  .hljs {
    max-height: 650px !important;
    min-height: 650px !important;
    overflow: hidden;
    overflow-y: scroll;
  }
}