<div class="offline" *ngIf="onlineStatus != 'true'" [ngStyle]="{'display':errorDisplay}">
  {{errorMessagefrmServ}}
</div>
<div class="card">
  <h4 class="cardTitle">Video - Face & Mood Detection</h4>
  <div class="carausal_card">
    <div *ngIf="serviceData.length == 0" class="noDataInnr">
      <h3>No Videos Found</h3>
    </div>
    <ngx-slick-carousel class="carousel carouselCstm" #slickModal="slick-carousel" [config]="slideConfig"
      *ngIf="serviceData.length != 0">
      <div ngxSlickItem *ngFor="let slide of serviceData" class="slide">
        <div (click)="vidDtls(slide)">
          <img src="{{ slide.thumb_csp }}" alt="" width="100%" class="caru-Img">
        </div>
        <div class="car-head" (click)="vidDtls(slide)">
          <div id="title" class="caru-title"> {{slide.title}}</div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div><br>
  <div class="containerWrap" *ngIf="vidCogDtls.length != 0">
    <div class="left-half">
      <div class="cardinner">
        <div plyr plyrTitle="Custom video" [plyrPlaysInline]="false" [plyrOptions]="options" [plyrCrossOrigin]="true"
          [plyrPoster]="poster" [plyrSources]="videoSources" (plyrInit)="player = $event" (ended)="audioEnded()">
        </div><br>
        <div class="containerWrapChild">
          <div class="left-halfChild">
            <div class="cardinner">
              Participants
            </div>
          </div>
          <div class="right-halfChild">
            <div class="cardinner">
              {{participantTotal}}
            </div>
          </div>
        </div>

        <div class="ovrlTxt">Overall</div>
        <!-- Happy -->
        <div class="barParentWrap" *ngIf="vidCogDtls.length != 0">
          <div class="barwrapper">
            <div class="innrbarleft">
              <i class="fa fa-smile-o happyCol sidebarIcon" aria-hidden="true" title="Happy"></i>
            </div>
            <div class="innrbarright" title="Happy">
              <progress-bar [progress]="overallData.Happy" [id]="overallData.Happy" [color]="'green'"
                [title]="overallData.Happy+'%'">
              </progress-bar>
            </div>
          </div>
        </div>
        <!-- Neutral -->
        <div class="barParentWrap" *ngIf="vidCogDtls.length != 0">
          <div class="barwrapper">
            <div class="innrbarleft">
              <i class="fa fa-meh-o sidebarIcon neutralCol" aria-hidden="true" title="Neutral"></i>
            </div>
            <div class="innrbarright" title="Neutral">
              <progress-bar [progress]="overallData.Neutral" [id]="overallData.Neutral" [color]="'#4c6ef5'"
                title="{{overallData.Neutral}}%">
              </progress-bar>
            </div>
          </div>
        </div>

        <!-- Sad -->
        <div class="barParentWrap" *ngIf="vidCogDtls.length != 0">
          <div class="barwrapper">
            <div class="innrbarleft">
              <i class="fa fa-frown-o sidebarIcon sadCol" aria-hidden="true" title="Sad"></i>
            </div>
            <div class="innrbarright" title="Sad">
              <progress-bar [progress]="overallData.Sad" [id]="overallData.Sad" [color]="'rgb(210 192 33)'"
                title="{{overallData.Sad}}%">
              </progress-bar>
            </div>
          </div>
        </div>

        <!-- FearFull -->
        <div class="barParentWrap" *ngIf="vidCogDtls.length != 0">
          <div class="barwrapper">
            <div class="innrbarleft">
              <img src="assets/images/fear.png" width="37px" title="FearFul">
            </div>
            <div class="innrbarright" title="FearFul">
              <progress-bar [progress]="overallData.Fearful" [id]="overallData.Fearful" [color]="'orange'"
                title="{{overallData.Fearful}}%">
              </progress-bar>
            </div>
          </div>
        </div>

        <!-- Surprised -->
        <div class="barParentWrap" *ngIf="vidCogDtls.length != 0">
          <div class="barwrapper">
            <div class="innrbarleft">
              <img src="assets/images/surprised.png" width="37px" title="Surprised">
            </div>
            <div class="innrbarright" title="Surprised">
              <progress-bar [progress]="overallData.Surprised" [id]="overallData.Surprised" [color]="'#33cff9'"
                title="{{overallData.Surprised}}%">
              </progress-bar>
            </div>
          </div>
        </div>

        <!-- Angry -->
        <div class="barParentWrap" *ngIf="vidCogDtls.length != 0">
          <div class="barwrapper">
            <div class="innrbarleft">
              <img src="assets/images/angry.png" width="37px" title="Angry">
            </div>
            <div class="innrbarright" title="Angry">
              <progress-bar [progress]="overallData.Angry" [id]="overallData.Angry" [color]="'red'"
                title="{{overallData.Angry}}%">
              </progress-bar>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="right-half">
      <div class="cardinner">
        <div class="cstmTab">
          <div [class]="defaultTab == 'summary' ? 'left-halftab active' : 'left-halftab'"
            (click)="tabChange('summary')">
            Summary
          </div>
          <div [class]="defaultTab == 'detailsAll' ?  'right-halftab active' : 'right-halftab'"
            (click)="tabChange('detailsAll')">
            Emotion Barometer
          </div>
        </div>
        <div *ngIf="defaultTab == 'summary'">
          <table class="parentTable" *ngIf="vidCogDtls.length != 0">
            <thead>
              <tr>
                <th class="cstmTh "></th>
                <th class="cstmTh onlyTabl"> <i class="fa fa-smile-o happyCol tableIcon" aria-hidden="true"></i>
                  <div>Happy</div>
                </th>
                <th class="cstmTh onlyTabl"><i class="fa fa-meh-o neutralCol tableIcon" aria-hidden="true"></i>
                  <div>Neutral</div>
                </th>
                <th class="cstmTh onlyTabl"><i class="fa fa-frown-o sadCol tableIcon" aria-hidden="true"></i>
                  <div>Sad</div>
                </th>
                <th class="cstmTh onlyTabl"><img src="assets/images/fear.png" width="33px">
                  <div>Fearful</div>
                </th>
                <th class="cstmTh onlyTabl"><img src="assets/images/surprised.png" width="33px">
                  <div>Surprised</div>
                </th>
                <th class="cstmTh onlyTabl"><img src="assets/images/angry.png" width="33px">
                  <div>Angry</div>
                </th>
                <th class="cstmTh onlyTabl"><img src="assets/images/yawning.png" width="33px">
                  <div>Yawn Count</div>
                </th>
              </tr>
            </thead>
            <tbody [@listAnimation]="vidCogDtls.length" >
              <tr *ngFor="let userData of vidCogDtls">
                <td class="innrTable">
                  <div class="mulwrapper">
                    <!-- <div class="innrmulleft"> <img src="assets/video/thumb/pro1.png" class="caruImg" alt=""></div> -->
                    <div class="innrmulright">
                      <table class="tableCustmClass">
                        <thead>
                          <tr [class]="userData.name != 'unknown' ? 'trTitle txtCapt' : 'trUnknwTitle txtCapt' ">
                            <td>{{userData.name}}</td>
                          </tr>
                        </thead>
                      </table>
                      <div class="innrTableCardParent">
                        <table class="tableCustmClass">
                          <tbody>
                            <tr class="tableCard">
                              <td>Age<span style="float: right;">:</span></td>
                              <td>{{userData.age}}</td>
                            </tr>
                            <tr class="tableCard">
                              <td>Race<span style="float: right;">:</span></td>
                              <td>{{userData.race}}</td>
                            </tr>
                            <tr class="tableCard">
                              <td>Gender<span style="float: right;">:</span></td>
                              <td>{{userData.gender}}</td>
                            </tr>
                            <tr class="tableCard">
                              <td>Yawn_Count<span style="float: right;">:</span></td>
                              <td>{{userData.yawn_count}}</td>
                            </tr>
                            <tr class="tableCard">
                              <td>Happy<span style="float: right;">:</span></td>
                              <td>{{userData.emotions.Happy}}<span style="font-size: 11px;">%</span></td>
                            </tr>
                            <tr class="tableCard">
                              <td>Neutral <span style="float: right;">:</span></td>
                              <td>{{userData.emotions.Neutral}}<span style="font-size: 11px;">%</span></td>
                            </tr>
                            <tr class="tableCard">
                              <td>Sad <span style="float: right;">:</span></td>
                              <td>{{userData.emotions.Sad}}<span style="font-size: 11px;">%</span></td>
                            </tr>
                            <tr class="tableCard">
                              <td>Fearful <span style="float: right;">:</span></td>
                              <td>{{userData.emotions.Fearful}}<span style="font-size: 11px;">%</span></td>
                            </tr>
                            <tr class="tableCard">
                              <td>Surprised <span style="float: right;">:</span></td>
                              <td>{{userData.emotions.Surprised}}<span style="font-size: 11px;">%</span></td>
                            </tr>
                            <tr class="tableCard">
                              <td>Angry <span style="float: right;">:</span></td>
                              <td>{{userData.emotions.Angry}}<span style="font-size: 11px;">%</span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="noEmoj onlyTabl happyCol">{{userData.emotions.Happy}}<span
                      style="font-size: 13px;">%</span></div>
                </td>
                <td>
                  <div class="noEmoj onlyTabl neutralCol">{{userData.emotions.Neutral}}<span
                      style="font-size: 13px;">%</span></div>
                </td>
                <td>
                  <div class="noEmoj onlyTabl sadCol">{{userData.emotions.Sad}}<span style="font-size: 13px;">%</span>
                  </div>
                </td>
                <td>
                  <div class="noEmoj onlyTabl fearfulCol">{{userData.emotions.Fearful}}<span
                      style="font-size: 13px;">%</span></div>
                </td>
                <td>
                  <div class="noEmoj onlyTabl surprisedCol">{{userData.emotions.Surprised}}<span
                      style="font-size: 13px;">%</span></div>
                </td>
                <td>
                  <div class="noEmoj onlyTabl angryCol">{{userData.emotions.Angry}} <span
                      style="font-size: 13px;">%</span></div>
                </td>
                <td>
                  <div class="noEmoj onlyTabl yawnCol">{{userData.yawn_count}} </div>
                </td>
              </tr><br>
            </tbody>
          </table>
        </div>
        <div *ngIf="defaultTab == 'detailsAll'">
          <canvas id="lineChartHealth"></canvas>
        </div>
      </div>
    </div>
    <div class="right-half" style="flex: 1;overflow: hidden">
      <div class="terminal">
        <i class="fa fa-ellipsis-h threeDot"></i>
        <span class="cpyClip">
          <span [class]="mulClipboardColor == 'gainsboro' ? 'copiedcss' : ' copiedcss testCss'"
            [ngStyle]="{'display':mulClipboardColor == 'gainsboro' ? 'none' : 'inline'}">Copied </span>
          <i class="fa fa-clipboard" aria-hidden="true" title="copy to clipboard" (click)="copyMul()"
            [ngStyle]="{'color':mulClipboardColor}"></i>
          <i class="fa fa-expand" aria-hidden="true" (click)="enbModal.open()"></i></span>
      </div>

      <textarea highlight-js rows="5" [ngModel]="preetyCode" [lang]="'JSON'">
</textarea>


    </div>
  </div>
</div>
<modal #enbModal modalClass="modal-lg">
  <modal-content>
    <div class="cstmContent">
      <div class="terminalModal">
        <i class="fa fa-ellipsis-h threeDot"></i>
        <span class="cpyClip">
          <span [class]="clipboardModalColor == 'gainsboro' ? 'copiedcss' : ' copiedcss testCss'"
            [ngStyle]="{'display':clipboardModalColor == 'gainsboro' ? 'none' : 'inline-table'}">Copied </span>
          <i class="fa fa-clipboard" aria-hidden="true" title="copy to clipboard" (click)="copyModalIndv()"
            [ngStyle]="{'color':clipboardModalColor}"></i>
        </span>

      </div>
      <textarea highlight-js [lang]="'JSON'" [ngModel]="preetyCode" id="myInput">
</textarea>
    </div>
  </modal-content>
</modal>