body{
    overflow-x: hidden;
}
* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Ubuntu, Helvetica, Arial, sans-serif;;
    padding: 0;
    margin: 0;
    scrollbar-width:thin;
    scrollbar-color:  #9c9c9c  #c5c4c452;
    
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

::-moz-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
::-moz-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bdbab5;
}
::-moz-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bdbab5;

}
.slick-slider {
    width: 95%;
    margin: auto;
    background: transparent;
  }
  .prev-slide.slick-disabled,
  .next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  .prev-slide {
    left: -33px;
  }


  .card {
    position: relative;
    border: 1px solid #c5c5c5;
    border-top: none;
    text-align: left;
    margin: 15px;
    border-radius: 4px;
    background: #fff;
    color: #26253c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 200px;
    padding: 10px;
}
.cardTitle{
    color: black;
    margin-left: 20px;
}
  .cstmRow{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right:0px;
    text-align: center;
  }

  .chckItem{
    max-height: 260px;
    overflow-y: scroll;
  }
  .cstmLeft{
      text-align: left;
  }
  .chckItemInnrDiv{
    padding: 0px 0px 37px 0px;
  }
  .bigUsrPrfl{
    background-color: #dadada4f;
    padding: 10px;
    padding-bottom: 15px;
  }

  .parentWrap{
    display: flex ;
    font-size: 14px;
    
    .leftCWrap{
    flex: .7%;
    text-align: left;
    }
    .rightCWrap{
    text-align: end;
    padding-right: 5px;
    
    }
}

.innrwrapper {
    display: flex;
    padding-bottom: 10px;
    .innrleft {
    flex: 0 0 12%;
    }
    .innrright {
    flex: 1;
    }
    }

    .barwrapper {
        display: flex;
        padding-bottom: 10px;
        text-align: left;
        .innrbarleft {
        flex: 0 0 15%;
        }
        .innrbarright {
        flex: 1;
        }
        }

        .barParentWrap{
            max-height: 105px;
            overflow: hidden;
            overflow-y: auto;}

      

        .button-Success {
            color: white;
            background-color: #3D9FE5 !important;
            border-radius: 4px;
            height: 34px;
            cursor: pointer;
          }


          .unknwTitle{
            background-color: red;
        }
        .knwTitle{
            background-color: green;
        }
        .threeDot{
            font-size:24px !important;
            color: gainsboro;
            padding-left: 10px;
        }
        .cpyClip{
            float: right;
            padding-right: 10px;
            margin-top: 4px;
        }
        .fa-clipboard{
            margin-right: 10px;
            cursor: pointer;
        }
        .fa-expand{
            cursor: pointer;
            color: gainsboro;
        }
        .terminal{
            background: rgb(58, 58, 58);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            text-align: left;
        }
        .terminalModal{
            background: rgb(58, 58, 58);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            text-align: left;
        }
        