<div class="card">
  <h4 class="cardTitle">Video - Multi Face & Mood Detection - Time Slice Wise</h4>
  <div class="row cstmRow">
    <div class="col-md-3">
      <div class="seclVidParent">
        <div *ngFor="let video of videoFiles" class="seclVid">
          <input type="radio" [value]="video.id" name="customMulRadio" class="custom-control-input"
            (change)="chngMulSlction($event)" [(ngModel)]="readioMulSelected">
          <label for="vehicle1" style="display: contents;"> &nbsp;&nbsp;
            <img [src]="video.thumb" width="50px" alt="">
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div plyr plyrTitle="Custom video" [plyrPlaysInline]="true" [plyrOptions]="options" (ended)="audioEnded()"
        [plyrCrossOrigin]="true" [plyrPoster]="mulposter" [plyrSources]="mulvideoSources"
        (plyrInit)="mulPlayer = $event">
      </div>
      <button class="btn button-Success cstmPadding cstmMargin" (click)="mulPlay()" *ngIf="!mulPlyrBtn"> <i
          class="fa fa-play" aria-hidden="true"></i> &nbsp;&nbsp;Play</button>
      <button class="btn button-Success cstmPadding cstmMargin" (click)="mulPause()" *ngIf="mulPlyrBtn"><i
          class="fa fa-pause" aria-hidden="true"></i> &nbsp;&nbsp;Pause</button>
    </div>

    <div class="col-md-5 cstmLeft">

      <div class="terminal">
        <i class="fa fa-ellipsis-h threeDot"></i>
        <span class="cpyClip">
          <span [class]="mulClipboardColor == 'gainsboro' ? 'copiedcss' : ' copiedcss testCss'"
            [ngStyle]="{'display':mulClipboardColor == 'gainsboro' ? 'none' : 'inline'}">Copied </span>
          <i class="fa fa-clipboard" aria-hidden="true" title="copy to clipboard" (click)="copyMul()"
            [ngStyle]="{'color':mulClipboardColor}"></i>
          <i class="fa fa-expand" aria-hidden="true" (click)="enbModal.open()"></i></span>
      </div>


      <textarea highlight-js rows="5" [ngModel]="preetyCode" [lang]="'JSON'">
        </textarea>
    </div>
    <div class="col-md-12">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of mulUserData" class="slide">
          <div>
            <div class="mulwrapper">
              <div class="innrmulleft"> <img
                  [src]="'unknown' == slide.name ? 'assets/video/thumb/dflt.jpg'  : slide.img" width="100px"
                  height="100px" alt=""></div>
              <div class="innrmulright">
                <table>
                  <thead>
                    <tr [class]="'unknown' == slide.name ? 'trTitle unknwTitle'  : 'trTitle knwTitle' ">
                      <td>{{slide.name}}</td>
                    </tr>
                  </thead>
                </table>

                <div style="overflow: hidden;overflow-y:auto;max-height:100px">
                  <table>
                    <tbody>
                      <tr *ngFor="let userData of slide.userDtls;let i=index"
                        style="border-bottom: 1px solid #d7d5d559;">
                        <td style="text-align: center;">{{userData.id}} <span style="float: right;">:</span></td>
                        <td style="text-align: center;">{{userData.value}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>


              </div>
            </div>
          </div>

          <div></div>
        </div>

      </ngx-slick-carousel>
    </div>
  </div>
</div>

<modal #enbModal modalClass="modal-lg">
  <modal-content>
    <div class="cstmContent">
      <div class="terminalModal">
        <i class="fa fa-ellipsis-h threeDot"></i>
        <span class="cpyClip">
          <span [class]="clipboardModalColor == 'gainsboro' ? 'copiedcss' : ' copiedcss testCss'"
            [ngStyle]="{'display':clipboardModalColor == 'gainsboro' ? 'none' : 'inline-table'}">Copied </span>
          <i class="fa fa-clipboard" aria-hidden="true" title="copy to clipboard" (click)="copyModalIndv()"
            [ngStyle]="{'color':clipboardModalColor}"></i>
        </span>

      </div>
      <textarea highlight-js [lang]="'JSON'" [ngModel]="preetyCode" id="myInput">
        </textarea>
    </div>
  </modal-content>
</modal>